
html,body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a, label, button, input, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border: 0;
}

body {
    background: #fff;
    color: #666;
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
}


.divHeight {
    width: 100%;
    height: 10px;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.r-line {
    position: relative;
}

.r-line:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.b-line {
    position: relative;
}

.b-line:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.aui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}


/* 必要布局样式css */

.aui-flexView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aui-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-top:0;
}

.aui-navBar {
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1002;
    background: #fff;
}


.aui-navBar-item {
    height: 44px;
    min-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    color: #808080;
    position: relative;
}

.aui-navBar-item:first-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: -25%;
    font-size: 0.9rem;
    font-weight: bold;
}

.aui-navBar-item:last-child {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.aui-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 50%;
    margin-left: 25%;
}

.aui-center-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 0.95rem;
    color: #333;
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    float: left;
    background-size: 20px;
    background-repeat: no-repeat;
}

.icon-return{
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAACUklEQVRoQ+2awWrcMBCG/6GBvsTuk5S+QC7NIaGEEnrQ0EvJKc05e0+Oe0qkQwolBRdCDznl0A2hb7H7EN5jaKNgWIMwXtublWXZkq8GWZ/+f2SNZgiBPRQYLyLw0BWPCkeFB7YCzi3NzO+llI9draNTYGbeBfAbwJ/5fL47m83+uQZ3BmzA7qwg77uAdgIshNgjogRADpsL6xy6deAMFsAvInpTtK/W+m6xWOy5tHarwHWwy+XyQ5Ik/13GcWvAzPxRa/2jTFkAt2maHriGzRa2FeAV7A0RlY1/OxqN9ieTybNLZfNvWQf2Gda6wkKIIwDXZcpqrX+Ox+NPXSlrXeE6WKXUYRcWLn7TiqWrYAF8l1J+9gHWiqWFEAzgcs0G5RXs1sAZLBFdlamntb5SSn3xRdmtY5iZvwKY9gn21Qr3FfZVwDWwU6XUsW82Nuez0S7NzCcALtbY2HvYjRSugb1QSp36rOxGm9ZQYBspzMxnACZr1HsAMPNRWSll6ZwrY1gIcU5E33wEqptTmqZvkyR5any07DNsBhmBV1JHSxc9H9SmlcMH9VsaGnQ8Wtb934JKHgx79zIXbnS0XKd4X3PijWK4CB/UFU8OXwXt243lVpY21e7TzeVWli5AV1YdBnURb9g7nFJLE+isTNpl5dBaDJckHFltOIxyqXE4qYQeVEG8AF3aBZD1dwyq5cGI6XCaWhpAD69tyYQu9Go5h21tl65IOMJpPTSUfqeU+luXd7f13trRsq0J2h43AtteUd/Giwr7pojt+USFba+ob+O9AFg+fEwCPYPoAAAAAElFTkSuQmCC');
}

.aui-datum-box-img{
    width:90px;
    height:90px;
    margin:0 auto;
}

.aui-datum-box-img img{
    width:90px;
    height:90px;
    display:block;
    border:none;
    border-radius:100%;
}

.aui-datum-box h2{
    font-size:1rem;
    color:#1a1a1a;
    width:75px;
    margin:0 auto;
    position:relative;
    padding-top:1rem;
}

.aui-datum-box h2 em{
    width:23px;
    height:23px;
    position:absolute;
    right:0;
}

.aui-datum-box h2 em img{
    width:23px;
    height:23px;
    display:block;
    border:none;
}

.aui-datum-box{
    width:100%;
    overflow:hidden;
    position:relative;
    padding-top:1rem;
    padding-bottom:1rem;
}

.aui-datum-icon{
    width:28px;
    height:28px;
    margin-right:0.5rem;
}

.aui-datum-icon img{
    width:28px;
    height:28px;
    display:block;
    border:none;
}

.aui-flex-box h3{
    font-weight:normal;
    color:#444444;
    font-size:0.95rem;
    padding:1.1rem 0;
}

.aui-datum-list .aui-flex{
    padding-top:0;
    padding-bottom:0;
}

.aui-flex-open{
    padding-left:50px;
    padding-top:0;
    position:relative;
}

.aui-flex-open .aui-flex-box h3{
    padding:0;
}

.aui-flex-open:after{
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    left:50px;
}

.aui-datum-list .aui-flex-open{
    padding-bottom:15px;
}