<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/message.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="themes/css/core.css">
		<link rel="stylesheet" type="text/css" href="themes/css/home.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />

	</head>
	<body style="background: #fff;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #ffffff;"></a>
			<h1 class="mui-title">成绩查询</h1>
		</header>
		<div class="mui-content">

			<div id="proJect"></div>
			<section class="aui-myOrder-content" id="chengji">
				<div class="m-tab demo-small-pitch" data-ydui-tab>
					<div class="aui-myOrder-fix">
						<ul class="tab-nav">
							<li class="tab-nav-item tab-active" @click="chengjiSearch()"><a href="javascript:;">请选择学年学期</a></li>
						</ul>
					</div>
					<div class="tab-panel" id="panel" v-if="isShow">
						<div class="tab-panel-item tab-active">
							<section class="aui-flexView">
								<div class="container">
									<div class="cardexplain">
										<div class="history">
											<div class="history-date">
												<ul id="panelUl">
													<a>
														<h2 class="first first1"></h2>
													</a>
													<li class="green bounceInDown" v-for="chengjiData in chengjiDatas" >
														<h3 style="color:#38aae1;margin-left: 10px;display: flex;">
															<span style="color:#38aae1;" v-text="chengjiData.jysj"></span>
															<span style="color:#38aae1;margin: 0px 0 0 10px;" v-text="chengjiData.kcdm +'学年' +'第' +chengjiData.kcmc + '学期'"></span>
															<div class="clr"></div>
														</h3>
														<dl style="margin-left: 10px;">
															<dt class="hfinfo" date="17369" v-text="'课程名称：'+chengjiData.xn"></dt>
															<dt style="font-size: 12px;" v-text="'成绩：'+chengjiData.xq">
															</dt>
														</dl>
													</li>
													</div>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
			</section>
		</div>
		<script type="text/javascript" src="themes/js/jquery.min.js"></script>
		<script type="text/javascript" src="themes/js/aui.js"></script>
		<script src="../../js/h.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.picker.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script type="text/javascript">
			$(function() {
				//绑定滚动条事件
				//绑定滚动条事件
				$(window).bind("scroll", function() {
					var sTop = $(window).scrollTop();
					var sTop = parseInt(sTop);
					if (sTop >= 40) {
						if (!$("#scrollBg").is(":visible")) {
							try {
								$("#scrollBg").slideDown();
							} catch (e) {
								$("#scrollBg").show();
							}
						}
					} else {
						if ($("#scrollBg").is(":visible")) {
							try {
								$("#scrollBg").slideUp();
							} catch (e) {
								$("#scrollBg").hide();
							}
						}
					}
				});
			})
		</script>
		
		<script type="text/javascript">
			var app;
			mui.init();
			mui.plusReady(function() {
				var myHelperDatar=[];
				var _thisData = plus.webview.currentWebview()
				app = new Vue({ 
						el: '#chengji',
						data: {
							chengjiDatas: [],
							isShow:false
						},
						created: function() {
							var _this = this;
							myCommonJs.productAjax(
								apiUrl.productURL + apiUrl.appGradeSearch, {
									userId: localStorage.getItem("userId")
								},
								function(res) {
									
									_this.isShow = true;
									if (_this.isShow) { 
										$(document).ready(function() {
											//获取弹出列表组建，假如是二联则在括号里面加入{layer:2}
											roadPick.setData(res.data2);
										});
									} else {
										$("#proJect").load("../building/demo.html");
									}
									
									
									if (res.data!=''||res.data.length>0) {
										_this.chengjiDatas = res.data;
										
									} else {
										$("#proJect").load("../building/demo.html");
									}
									
									if (res.data.length > 0) {
										_this.chengjiDatas = res.data;
										_this.isExist = true;
									} else {
										$("#proJect").load("../building/demo.html");
									}
								},
								function(xhr, type, errorThrown) {
									$("#proJect").load("../building/demo.html");
								}
							)
						},
						mounted: function() {

						}
				})
			})
			
			var roadPick = new mui.PopPicker({
				layer: 2
			});
			function chengjiSearch(){
				roadPick.show(function(item) { //弹出列表并在里面写业务代码
						var itemCallback = roadPick.getSelectedItems();
						myCommonJs.productAjax(apiUrl.productURL + apiUrl.appGradeSearch, {
								userId: localStorage.getItem("userId"),
								year: itemCallback[0].value,
								term: itemCallback[1].value
							}, function(res) {
								console.log(JSON.stringify(res.data))
								if (res.data2.length > 0) {
									
								} else {
									$("#proJect").load("../building/demo.html");
								}
								if (res.data.length > 0) {
									app.chengjiDatas = res.data;
								} else {
									$("#proJect").load("../building/demo.html");
								}
							}, function(a, type, b) {
								console.log(type)
						})
						
				});
			}
		</script>


	</body>
</html>
