<!DOCTYPE html>
<html lang="en" class="feedback">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../../../css/mui.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="../../../css/feedback.css"/>
	<link href="../../lostAndFind/css/style.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="../../css/feedback.css" />
	<style type="text/css">
		[v-cloak] { display: none; }
	</style>
</head>
<body >
	<div id="optionRepair">
	<header class="mui-bar mui-bar-nav">
		<a id="back" class=" mui-icon mui-icon-left-nav mui-pull-left " style="color: #FFFFFF;" v-on:click="backAction()"></a>
		<!-- <button id="submit" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" style="color: #FFFFFF;">发送</button> -->
		<h1 class="mui-title">详情</h1>
		
	</header>
	<div class="mui-content" style="margin-top: 25px;" >
					<div class="mui-content-padded">
						<div class="mui-inline">维修单编号</div>
						<div class="mui-input-row" v-text="repairCode">
						</div>
						<div class="mui-inline">故障图片</div>
						<div id="slider" class="mui-slider" >
							<section class="aui-scrollView">
							    <div class="aui-tab" data-ydui-tab>
							        <div class="tab-panel">
							            <div class="tab-panel-item tab-active">
							                <div class="tab-item">
							                     <ul>
							                        <li id="swzl" class="aui-news-item b-line">
							                            <div class="aui-news-item-img" >
							                                <span v-for=" faultImage  in faultImages"><img v-bind:src='imageRootUrl+faultImage.faultImage' alt="" style="height: 100px;" @click="preview(faultImages)"></span>
							                            </div>
							                        </li>
													</ul>
							                </div>
							            </div>
							        </div>
							    </div>
							</section>
						</div>
						<div class="mui-inline">故障类型</div>
						<div class="mui-input-row" v-text="faultType">
						</div>
						<div class="mui-inline">故障地点</div>
						<div class="mui-input-row" v-text="faultLocatin">
						</div>
						<div class="mui-inline">故障说明</div>
						<div class="mui-input-row" v-text="faultMessages"> 
						</div>
						<div class="mui-inline" v-if="rpairUserName">维修人员说明</div>
						<div class="mui-input-row" v-text="rpairUserName">
						</div>
						<div class="mui-inline" v-if="rpairUserName">维修评分</div>
						<div class="icons mui-inline" style="margin-left: 6px;" v-if="rpairUserName">
							<i 	id="i1" data-index="1" class="mui-icon mui-icon-star"></i>
							<i 	id="i2" data-index="2" class="mui-icon mui-icon-star"></i>
							<i  id="i3" data-index="3" class="mui-icon mui-icon-star"></i>
							<i  id="i4" data-index="4" class="mui-icon mui-icon-star"></i>
							<i 	id="i5" data-index="5" class="mui-icon mui-icon-star"></i>
						</div>
						<div class="mui-inline" v-if="maintenanceTime">维修时间</div>
						<div class="mui-input-row" v-text="maintenanceTime">
						</div>
						
					<!-- <button id="submit" type="button" class="mui-btn mui-btn-block mui-btn-green">确认报修</button> -->
					<button id="repairSubmit" type="button" class="mui-btn mui-btn-block mui-btn-green" v-cloak v-if="repairState==='待维修'" v-on:click="cancelRepair(repairId)">撤销</button>
	</div>
	<script src="../../../js/h.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/mui.js"></script>
	<script src="../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/api.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
	<script src="opotionPage.js" type="text/javascript" charset="utf-8"></script>
	</div>
</body>
</html>
