<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>我的钱包</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/tab.js"></script>
		<script src="../../js/MD5.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <section class="aui-flexView">
			<header class="aui-navBar aui-navBar-fixed">
			</header>
            <header class="aui-navBar aui-navBar-fixed" style="margin-top:-2px ;">
                <div class="aui-center">
                    <span class="aui-center-title">我的钱包</span>
                </div>
            </header>
            <section class="aui-scrollView">
                <div class="aui-tab" data-ydui-tab>
                   <!-- <ul class="tab-nav">
                        <li class="tab-nav-item tab-active">
                            <a href="javascript:;">我的校园卡</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">校园代金券</a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">已失效</a>
                        </li>
                    </ul> -->
                    <div class="tab-panel" id="tabCard">
                        <div class="tab-panel-item tab-active">
                           <!-- <div id="xunicard" class="tab-item">
                                <a href="javascript:;">
                                   <img src="http://125.46.98.227:12333/smxzyapp/opt/data/qianbao/xnkcz.jpg" onerror="javascript:this.src='images/101.jpg';" alt="">
                                </a>
                            </div>
							<div id="schoolcard" class="tab-item">
							    <a href="javascript:;">
							       <img src="http://125.46.98.227:12333/smxzyapp/opt/data/qianbao/xxjf.jpg" onerror="javascript:this.src='images/102.jpg';" alt="">
							    </a>
							</div> -->
							<div id="schoolcards" class="tab-item" v-for="item in list">
							    <a href="javascript:;">
							       <img :src=item.banner onerror="javascript:this.src='images/102.jpg';" @click="gotodetail(item)" alt="">
							    </a>
							</div>
                        </div>
						<!-- <button id="pay" type="button" class="mui-btn mui-btn-blue">支付</button>	
						<button id="guashi" type="button" class="mui-btn mui-btn-red mui-pull-right">挂失</button> -->
						<div class="aui-coupon-all">已展示全部内容</div>
                    </div>
                </div>
            </section>
        </section>
		<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/pageChangeWithTitle.js" type="text/javascript" charset="utf-8"></script>
				<script type="text/javascript">
					mui.init();
					mui.plusReady(function(){
						var app = new Vue({
							el: '#tabCard',
							data: {
								list: []
							},
							mounted() {
								mui.ajax('http://125.46.98.227:12333/smxzyapp/core/app-wallet!getWalletList.action',{
									data:{
										"userId":localStorage.getItem("userId")
									},
									headers: {
										'Content-Type': 'application/json'
									}, 
									dataType:'json',//服务器返回json格式数据 
									type:'post',//HTTP请求类型
									timeout:10000,//超时时间设置为10秒；
									success:function(data){
										app.list = data.data;
										console.log("data: " + JSON.stringify(data));
									},
									error:function(xhr,type,errorThrown){
										console.log(type); 
									} 
								});
							},
							methods:{
								gotodetail(item){
									console.log(item.url);
									mui.ajax(item.url,{
										data:{
											"userId":localStorage.getItem("userId")
										},
										dataType:'json',//服务器返回json格式数据
										headers: {
											'Content-Type': 'application/json'
										},
										type:'post',//HTTP请求类型
										timeout:10000,//超时时间设置为10秒；
										
										success:function(res){
											console.log(res);
											if(res.code ==10001){
												console.log(res.data.thisnewurl);
												// createWebview(item.url,item.title);
											var nwObj =	createWebview(res.data.thisnewurl,'ykturl');
											}else{
												alert(res.msg)
											}
										},
										error:function(xhr,type,errorThrown){
											console.log(type);
											alert("请求异常");
										}
									});
								}
							}
						})
						
						
						
						
					})
					// document.getElementById('xunicard').addEventListener('tap', function() {
					// 	console.log(localStorage.getItem("userId"));
					// 	// http://125.46.98.227:12333/smxzyapp/core/app-user-info!goPay.action
					// 	mui.ajax('http://125.46.98.227:12333/smxzyapp/core/app-user-info!goPay.action',{
					// 		data:{
					// 			"userId":localStorage.getItem("userId")
					// 		},
					// 		dataType:'json',//服务器返回json格式数据
					// 		headers: {
					// 			'Content-Type': 'application/json'
					// 		},
					// 		type:'post',//HTTP请求类型
					// 		timeout:10000,//超时时间设置为10秒；
							
					// 		success:function(res){
					// 			console.log(res);
					// 			if(res.code ==10001){
					// 				console.log(res.data.thisnewurl);
					// 			var nwObj =	createWebview(res.data.thisnewurl,'ykturl');
					// 			}else{
					// 				alert(res.msg)
					// 			}
					// 		},
					// 		error:function(xhr,type,errorThrown){
					// 			console.log(type);
					// 			alert("请求异常");
					// 		}
					// 	});
						
					// })
					// document.getElementById('schoolcard').addEventListener('tap', function() {
					// 	// plus.nativeUI.alert("学校系统建设中...", function() {});
					// 	var thisnewurl = getnewurl1();
					// 	// console.log(getnewUrl());
					// 	createWebview(thisnewurl,'ykturl');
						
					// })
					
				</script>
				<script type="text/javascript" charset="utf-8">
					// function geturl(){
					// 	mui.init();
					// 	var nowTime = (new Date()).getTime();
					// 	console.log(nowTime);
					// 	var userId = localStorage.getItem("userCode");
					// 	var flag = 'basicopengroup_smxzy_ecardh5';
					// 	var stringA = "flag=" + flag + "&time=" + nowTime + "&userid=" + userId;
					// 	console.log(stringA);
					// 	var stringSignTemp = stringA + "&key=7C4D39833BEB4522916EBD08A9684169";
					// 	console.log(stringSignTemp);
						
					// 	var signValue = md5(stringSignTemp).toUpperCase();
						
						
					// 	console.log('https://hub.17wanxiao.com/bsacs/light.action?flag=' + flag + '&time=' + nowTime + '&userid=' + userId +
					// 		'&sign=' + signValue)
					// 	var thisurl = 'https://hub.17wanxiao.com/bsacs/light.action?flag=' + flag + '&time=' + nowTime + '&userid=' + userId +
					// 		'&sign=' + signValue;
					// 	return thisurl;
					// }
					function getnewurl1(){
					       var nowTime = (new Date()).getTime();
					       // 评价参数的url
					       var url = 'https://hub.17wanxiao.com/bsacs/light.action?ecardFunc=index&flag=';
					       // isanzhiapp的用户userCode
					       var userCode = localStorage.getItem("userCode");
					       // 请求的flag
					       var flag = 'basicopengroup_jiaofei_1065';
						   // hostType
						   var hostType = 'OPEN_NEWCAP';
						   // payUserSource
						   var payUserSource = 'WX';
						   // versioncode
						   var versioncode = '10431102';
						   // paychannel
						   var paychannel = 35;
					       // 按照参数的名的阿西克码有小到大排列
					       var stringA = "flag=" + flag + "&time=" + nowTime + "&userid=" + userCode;
					       // 请求的秘钥key和刚刚的stringA进行拼接
					       var stringSignTemp = stringA + "&key=4C242C579B26473FB0D599900727A641";
					       // MD5加密,并且转成大写 即sign值
					       var signValue = md5(stringSignTemp).toUpperCase();
					       // 以上拼接成最终链接返回
					       var thisnewurl = url + flag + '&time=' + nowTime + '&userid=' + userCode +'&sign=' + signValue + '&hostType=OPEN_NEWCAP&payUserSource=WX&versioncode=10431102&paychannel=35';
					       return thisnewurl;
					      
					     }
					
					function getnewUrl(){
					       var nowTime = (new Date()).getTime();
					       // 评价参数的url
					       var url = 'https://hub.17wanxiao.com/bsacs/light.action?ecardFunc=index&flag=';
					       // isanzhiapp的用户userCode
					       var userCode = localStorage.getItem("userCode");
					       // 请求的flag
					       var flag = 'basicopengroup_ecardh5_1065';
					       // 按照参数的名的阿西克码有小到大排列
					       var stringA = "flag=" + flag + "&time=" + nowTime + "&userid=" + userCode;
					       // 请求的秘钥key和刚刚的stringA进行拼接
					       var stringSignTemp = stringA + "&key=94909FE368DE4AF68AECF84453421599";
					       // MD5加密,并且转成大写 即sign值
					       var signValue = md5(stringSignTemp).toUpperCase();
					       // 以上拼接成最终链接返回
					       var thisnewurl = url + flag + '&time=' + nowTime + '&userid=' + userCode +'&sign=' + signValue;
					       return thisnewurl;
					      
					     }
				</script>
    </body>
</html>
