* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#outter {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 12px;
}

#content {
	padding: 10px;
}

#vote {
	margin: 0 auto;
	width: 100%;
	background-color: #e5ecf2;
	/* border: thin dotted grey; */
	padding: 10px;
	padding-bottom: 50px;
}

#vote ul {
	list-style: none;
}

#vote li {
	display: block;
	height: 30px;
	margin: 5px 0;
}

.votetitle {
	line-height: 28px;
}

.votetitleleft {
	display: block;
	float: left;
}

.votetitleright {
	display: block;
	float: right;
}

.votechoice,
.addchoice {
	clear: both;
	text-align: left;
}

.votechoice input[type=text] {
	height: 25px;
	width:  80%;
	border: thin solid #d0dde7;
	float: left;
}

.votedel:hover {
	background-image: url("votedel2.gif");
}

.votedel {
	display: block;
	width: 23px;
	height: 23px;
	background-image: url("votedel.gif");
	background-repeat: no-repeat;
	float: left;
	margin-left: 10px;
	line-height: 25px;
}

#addchoice,
#submitchoice {
	margin-top: 10px;
	display: block;
	float: left;
}

#complete,
#viewresult {
	margin-top: 10px;
	display: block;
	float: right;
	margin-right: 46px;
}

#voteinfo {
	text-align: left;
	padding: 10px 0;
	line-height: 16px;
}

#voteinfo textarea {
	margin: 0px;
	width:  100%;
	height: 126px;
}

#infotitle {
	height: 30px;
	line-height: 30px;
}
