<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<title></title>
		<link href="../../css/mui.css" rel="stylesheet"/>
		<link href="css/txl.css" rel="stylesheet"/>
		<style type="text/css">
			.aui-coupon-all {
			    width: 100%;
				margin-top: 50px;
			    text-align: center;
			    font-size: 0.9rem;
			    color: #888;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></span>
			<h1 class="mui-title">应用列表</h1>
		</header>
		<div class="mui-content">
			<div id='list' class="mui-indexed-list">
				<div class="mui-indexed-list-inner">
					<ul class="mui-table-view aui-palace" id="allInfo">
						<li class="mui-table-view-cell" v-for="item in list">
							<a :id="item.id" href="javascript:;" class="mui-navigate-right mui-detail" @click="openApp(item)">
								<div class="mui-slider-cell">
									<div class="oa-contact-cell mui-table">
										<div class="oa-contact-content mui-table-cell">
											<div class="mui-clearfix">
												<div class="oa-contact-name" v-text="item.wjmc"></div>
												<h5 class="oa-contact-position mui-h6" v-text="item.contents"></h5>
											</div>
										</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="aui-coupon-all">没有更多内容</div>
		</div>
		<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			var app1 = new Vue({
				el: '#allInfo',
				data: {
					list: [],
					imageUrlPro:apiUrl.imageUrlPro
				},
				methods: {
					openApp: function(item){
						if(item.type.typeId == "6364"){
							window.location.href = item.wakeUp; //仅唤醒
							setTimeout(function() {
							    if (!document.webkitHidden) {
									plus.runtime.openURL(item.address);
							    }
							}, 3000);
						}else{
							console.log(1);
							if (!document.webkitHidden) {
								plus.runtime.openURL(item.address);
							}
						}
					}
				}
			})
			mui.init();
			mui.plusReady(function() {
				plus.nativeUI.showWaiting();
				mui.ajax(apiUrl.productURL+apiUrl.appManagerListSearch, {
					data:{
						userId:localStorage.getItem("userId")
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 100000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						if (data.data != "") {
							app1.list = data.data
						}
						plus.nativeUI.closeWaiting();
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
					}
				});
			})
		</script>
	</body>
</html>
