<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>详细资料</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../../css/mui.css"/>
		<style type="text/css">
			[v-cloak] {
				display: none;
			} 
			.aui-coupon-all {
			    width: 100%;
				margin-top: 50px;
			    text-align: center;
			    font-size: 0.9rem;
			    color: #888;
			}
		</style>
    </head>
    <body>
        <section class="aui-flexView mui-content" id="info">
            <section class="aui-scrollView">
                <div class="aui-datum-box">
                    <div class="aui-datum-box-img">
                        <img  v-bind:src="userHeadPic" onerror="javascript:this.src='../newMine/images/user.png';"> 
                    </div> 
                    <h2><b v-text="userName"></b><em><img v-if="userGender==='男'" src="images/nan.png" alt=""><img v-if="userGender==='女'"  src="images/nv.png" alt=""></em></h2>
				</div>
               <div class="aui-datum-list">
                   <div class="aui-flex" v-if="userNation">
                       <div class="aui-datum-icon">
                           <img src="images/icon-bu-005.png" alt="">
                       </div>
                       <div class="aui-flex-box b-line">
                           <h3  v-text="userNation"></h3>
                       </div>
                   </div>
                   <div class="aui-flex" v-if="userGrade">
                       <div class="aui-datum-icon">
                           <img src="images/icon-bu-002.png" alt="">
                       </div>
                       <div class="aui-flex-box b-line">
                           <h3 v-text="userGrade+' '+ userClass"></h3>
                       </div>
                   </div>
                   <div class="aui-flex" v-if="userDepartment">
                       <div class="aui-datum-icon">
                           <img src="images/icon-bu-001.png" alt="">
                       </div>
                       <div class="aui-flex-box b-line">
                           <h3  v-text="userDepartment"></h3>
                       </div>
                   </div>
                   <div class="aui-flex" v-if="userMajor">
                       <div class="aui-datum-icon">
                           <img src="images/icon-bu-004.png" alt="">
                       </div>
                       <div class="aui-flex-box b-line">
                           <h3  v-text="userMajor"></h3>
                       </div>
                   </div>
                   <div class="aui-flex"  v-if="userBirthDay">
                       <div class="aui-datum-icon">
                           <img src="images/birth.png" alt="">
                       </div>
                       <div class="aui-flex-box">
                           <h3 v-text="userBirthDay"></h3>
                       </div>
                   </div>
				   <div class="aui-flex"  v-if="userIntegral !=null">
				       <div class="aui-datum-icon">
				           <img src="images/icon-bu-003.png" alt="">
				       </div>
				       <div class="aui-flex-box">
				           <h3 v-text="'积分:'+userIntegral"></h3>
				       </div>
				   </div>
				   
				   <div class="aui-flex" @click="setPhone()">
				       <div class="aui-datum-icon">
				           <img src="images/phone.png" alt="">
				       </div>
				       <div class="aui-flex-box">
				           <h3 v-text="userPhone"></h3>
				       </div>
				   </div>
               </div>
			   <div v-if="userGender==''" class="aui-coupon-all">没有更多内容</div>
            </section>
					
        </section>
		<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script src="index.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
