<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../../css/mui.css" rel="stylesheet"/>
	<style>
		.mui-table h4,.mui-table h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
	        margin-top: 0;
	    }
	    .mui-table h4{
	        line-height: 21px;
	        font-weight: 500;
	    }
	
	    .mui-table .oa-icon{
	        position: absolute;
	        right:0;
	        bottom: 0;
	    }
	    .mui-table .oa-icon-star-filled{
	        color:#f14e41;
	    }
		.aui-coupon-all {
		    width: 100%;
			margin-top: 50px;
		    text-align: center;
		    font-size: 0.9rem;
		    color: #888;
		}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
		<h1 class="mui-title mui-title-write">工资财务</h1>
	</header>
	<div class="mui-content" style="margin-top: 13px;" id="gongzi">
					<ul class="mui-table-view" >
						<li class="mui-table-view-cell" v-for="gongziData in gongziDatas" @click="openDetail(gongziData)">
							<a class="mui-navigate-right" v-text="gongziData.year+'年'+gongziData.month+'月份工资'">
							</a>
						</li>
					</ul>
			<div class="aui-coupon-all">没有更多内容</div>
	</div>
	
	
	<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.js"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		mui.plusReady(function () {
			    // var idShow = false;
				// 页面调优
				var app = new Vue({
					el: '#gongzi',
					data: {
						gongziDatas:{},
						isShow: false
					},
					beforeCreate: function() {
						var _this = this;
						myCommonJs.productAjax(
						apiUrl.productURL+apiUrl.appSalarySearch,
						{userId:localStorage.getItem("userId")},
						function(res){
							_this.gongziDatas = res.data;
							},
						function(xhr, type, errorThrown){console.log(type)}
						)
					},methods:{
						openDetail:function(e){
							mui.openWindow({
											url:'index.html',
											id:'index.html',
											extras:{
												gongziData:e
											}
										})
						}
					}
				})
			})
			
			
	</script>
</body>
</html>