<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="js/flexible.js"></script>
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/index.css">
  <title></title>
</head>

<body >
  
  <div id="gongziPage">
  <div class="swiper-container" id="Jswiper">
    <div class="swiper-wrapper">
      
      <div class="swiper-slide">
        <div class="page page-3">
           <p class="tt first" v-text="meetingData.year+'年'+meetingData.month+'月您共收入'"></p>
           <p class="num" v-text="meetingData.sfgz+'元'"></p>
           <!-- <p class="tt">您的薪资收入超过了</p>
           <p class="num">娱乐界市1100人</p> -->
           <div id="pie-cont">
              <div id="p2-pie" style="width:100%;height:100%; overflow:hidden"></div>
           </div>
           <div class="pie-items">
             <ul class="clearfix">
              <li class="i1 fl">岗位工资<span v-text="meetingData.gwgz+'元'"></span></li>
              <li class="i2 fr">薪级工资<span v-text="meetingData.xjgz+'元'"></span></li> </ul>
             <ul class="clearfix">
              <li class="i3 fl">工龄工资<span v-text="meetingData.glgx+'元'"></span></li>
              <li class="i4 fr">福补<span v-text="meetingData.blwjfb+'元'"></span></li> </ul>
             <ul class="clearfix">
              <li class="i5 fl">基础绩效<span v-text="meetingData.jcjx+'元'"></span></li>
              <li class="i6 fr">奖励绩效<span v-text="meetingData.jljx+'元'"></span></li>
             </ul>
           </div>
           <p class="info enzdA" id="showDetail" @click="openDetail()">点击我可查看清单哦~</p>
					 
        </div>
      </div>
    </div>
    <div class="swiper-arrow" v-on:click="closePage()">
      <span></span>
    </div>
  </div>
  <div class="mod-dialog">
  <div class="dialog-mask"></div>
  <!--基本工资弹窗-->
  <div class="dialog-content dia-jbgz">
     <div class="top-cont"> 
       <div class="txt-cont">
         <h3>工资详情</h3>
         <ul>
					 <li>教龄<span>{{meetingData.jl}}年</span></li>
          <li>岗位工资<span>{{meetingData.gwgz}}元</span></li>
          <li>薪级工资<span>{{meetingData.xjgz}}元</span></li>
          <li>工龄工资<span>{{meetingData.glgx}}元</span></li>
          <li>基础绩效<span>{{meetingData.jcjx}}元</span></li>
          <li>奖励绩效<span>{{meetingData.jljx}}元</span></li>
          <li>保留物价福补<span>{{meetingData.blwjfb}}元</span></li>
					<li>特殊岗位津贴<span>{{meetingData.tsgwjt}}元</span></li>
					<li>零六工改增加<span>{{meetingData.llggzj}}元</span></li>
					<li>职务工资提高部分<span>{{meetingData.zwgz}}元</span></li>
					<li>医疗保险费<span>{{meetingData.ylbxf}}元</span></li>
          <li>失业保证金<span>{{meetingData.sybzj}}元</span></li>
          <li>住房公积金<span>{{meetingData.zfgjj}}元</span></li>
          <li>养老保险金<span>{{meetingData.ylbxf}}元</span></li>
          <li>职业年金<span>{{meetingData.zynj}}元</span></li>
          <li>所得税<span>{{meetingData.sds}}元</span></li>
          <li>应发项<span>{{meetingData.yfx}}元</span></li>
					<li>扣发项<span>{{meetingData.kfx}}元</span></li>
					<li>实发工资<span>{{meetingData.sfgz}}元</span></li>
           
         </ul>
         
       </div>
     </div>
     <div class="dialog-close" v-on:click="closeDetail()"><i class="i-close"></i></div>
  </div>
</div>
 </div>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="js/echarts.min.js"></script>
	<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/index.js"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script>
	
	mui.init({
				swipeBack:true //启用右滑关闭功能
			}); 
	mui.plusReady(function () {
					var idShow = false;
					var _thisData = plus.webview.currentWebview()
						// console
	    			var app = new Vue({
	    				el: '#gongziPage',
	    				data: {
	    					meetingData: _thisData.gongziData,
	    					idShow: idShow
	    				},
	    				methods: {
								openDetail:function(){
									 $('.mod-dialog').show();
									$('.dia-jbgz').show();
								},
								closePage:function(){
									mui.back();
								},closeDetail:function(){
									$('.mod-dialog').hide();
									$('.dialog-content').hide();
								}
	    				}
	    			})
						
						//echarts
						var p2Chart = echarts.init(document.getElementById('p2-pie'));
						
						option = {
						   
						    series: [
						        {
						            type:'pie',
						            radius: ['30%', '70%'],
						            avoidLabelOverlap: false,
						            label: {
						                normal: {
						                    show: false,
						                    position: 'center'
						                }
						                
						            },
						            labelLine: {
						                normal: {
						                    show: false
						                }
						            },
						            data:[
// 						                {value:1200, name:'岗位工资',itemStyle:{color:'#f45752'}},
// 						                {value:800, name:'薪级工资',itemStyle:{color:'#fc804d'}},
// 						                {value:600, name:'工龄工资',itemStyle:{color:'#ffd262'}},
// 						                {value:335, name:'福补',itemStyle:{color:'#ffbd29'}},
// 						                {value:148, name:'基础绩效',itemStyle:{color:'#da9a0b'}},
// 														{value:48, name:'奖励绩效',itemStyle:{color:'#c82e0d'}}
														
														{value:_thisData.gongziData.gwgz, name:'岗位工资',itemStyle:{color:'#f45752'}},
										        {value:_thisData.gongziData.xjgz, name:'薪级工资',itemStyle:{color:'#fc804d'}},
										        {value:_thisData.gongziData.glgx, name:'工龄工资',itemStyle:{color:'#ffd262'}},
										        {value:_thisData.gongziData.blwjfb, name:'福补',itemStyle:{color:'#ffbd29'}},
										        {value:_thisData.gongziData.jcjx, name:'基础绩效',itemStyle:{color:'#da9a0b'}},
														{value:_thisData.gongziData.jljx, name:'奖励绩效',itemStyle:{color:'#c82e0d'}}
						            ]
						        }
						    ]
						};
						 // 使用刚指定的配置项和数据显示图表。
						 p2Chart.setOption(option);
						
						
	    
		
	})
   </script>


</body></html>