<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<title></title>
		<link href="../../css/mui.css" rel="stylesheet"/>
		<!-- <link href="css/mui.indexedlist.css" rel="stylesheet" /> -->
	</head>
	<body>
			<ul class="mui-table-view" id="allInfo">
				<li class="mui-table-view-cell mui-media" @click="checkVersion()">
					<a href="javascript:;" class="mui-navigate-right">
						<img class="mui-media-object mui-pull-left" src="../../static/logo.png" width="45px" height="45px"> 
						<div class="mui-media-body">
							检查版本
							<p class="mui-ellipsis" v-if="list.code" v-text="'当前版本 '+list.code"></p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media" @click="share()">
					<a href="javascript:;" class="mui-navigate-right">
						<img class="mui-media-object mui-pull-left" src="../../static/logo.png" width="45px" height="45px"> 
						<div class="mui-media-body">
							跨平台分享
							<p class="mui-ellipsis" v-if="os" v-text="'当前系统 '+os"></p>
						</div>
					</a>
				</li>
			</ul>
		<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			var app1 = new Vue({
				el: '#allInfo',
				data: { 
					list: {},
					os:''
				},methods:{
					checkVersion:function(){
						plus.nativeUI.alert("已是最新版本")
					},
					share:function(){
			//判断设备是android还是ios
			if(mui.os.ios){ //ios
				var copy_content = this.list.versionUrl;
				console.log(copy_content);
				var UIPasteboard = plus.ios.importClass("UIPasteboard");
			    var generalPasteboard = UIPasteboard.generalPasteboard();
			    //设置/获取文本内容:
			    generalPasteboard.plusCallMethod({
			        setValue:copy_content,
			        forPasteboardType: "public.utf8-plain-text"
			    });
			    generalPasteboard.plusCallMethod({
			        valueForPasteboardType: "public.utf8-plain-text"
			    });
				plus.nativeUI.alert("分享页面的链接已经复制到您粘贴板中，烦请您分享到社交平台中");
			}else{  //android
				var copy_content = this.list.versionUrl;
				console.log(copy_content);
				var context = plus.android.importClass("android.content.Context");
			  	var main = plus.android.runtimeMainActivity();
			  	var clip = main.getSystemService(context.CLIPBOARD_SERVICE);
			  	plus.android.invoke(clip,"setText",copy_content);
				plus.nativeUI.alert("分享页面的链接已经复制到您粘贴板中，烦请您分享到社交平台中");
			}
					}
				}
			})
			mui.init();
			mui.plusReady(function() {
				if(mui.os.ios){
					app1.os = "IOS";
					}else{
						app1.os = "Android";
					}
				plus.nativeUI.showWaiting();
				mui.ajax(apiUrl.productURL+apiUrl.appVersion,{
					data:{
						userId:localStorage.getItem("userId")
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 100000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						console.log(JSON.stringify(data))
						if (data.data != "") {
							app1.list = data
						}
						plus.nativeUI.closeWaiting();
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
					}
				});
			})
		</script>
	</body>
</html>
