<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>失物招领</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/tab.js"></script>
	</head>
	<body>

		<section class="aui-flexView">
			<header class="mui-bar mui-bar-nav">
				<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></span>
				<h1 class="mui-title">失物招领</h1>
			</header>
			<section class="aui-scrollView mui-content" id="lostAndFindSection">
				<div class="aui-tab" data-ydui-tab>
					<ul class="tab-nav">
						<li class="tab-nav-item tab-active">
							<a href="javascript:;">失物招领</a>
						</li>
						<li class="tab-nav-item">
							<a href="javascript:;">我发起的</a>
						</li>
						<li class="tab-nav-item">
							<a href="javascript:;">已关闭</a>
						</li>
					</ul>
					<div class="tab-panel">
						<div class="tab-panel-item tab-active">
							<div class="tab-item" id="lostAndFound1">
								<ul>
									<li class="aui-news-item b-line" v-for="lostAndFoundData in lostAndFoundDatas" @click="lostAndFindDetail(lostAndFoundData)"
									 v-if="!lostAndFoundData.state">
										<h3 v-text="lostAndFoundData.title"></h3>
										<div class="aui-news-item-img" v-if="!lostAndFoundData.state">
											<div v-for="imageP in lostAndFoundData.lostAndFoundPics"><img v-bind:src="imageRootUrl+imageP.smallImgs"
												  style="width:30%;height:90px" alt=""></div>
										</div>
										<div class="aui-news-item-comment" v-if="lostAndFoundData.userName">
											<span v-text="lostAndFoundData.userName"></span>
											<span v-text="'发表于'+lostAndFoundData.time"> </span>
											<span style="color:skyblue" v-text="'点击评论'"></span>
										</div>
									</li>
								</ul>
							</div>
							<div class="aui-coupon-all">没有更多内容</div>
						</div>
						<div class="tab-panel-item">
							<div class="tab-item" id="lostAndFound2">
								<ul>
									<li class="aui-news-item b-line" v-for="lostAndFoundData in lostAndFoundDatas" v-if="lostAndFoundData.isMyself && !lostAndFoundData.state"
									 v-on:click="lostAndFindDetail(lostAndFoundData)">
										<h3 v-text="lostAndFoundData.title"> </h3>
										<div class="aui-news-item-img">
											<div v-for="imageP in lostAndFoundData.lostAndFoundPics"><img v-bind:src="imageRootUrl+imageP.smallImgs"
												  style="width:30%;height:90px" alt=""></div>
										</div>
										<div class="aui-news-item-comment">
											<span v-text="lostAndFoundData.userName"> </span>
											<span v-text="'发表于'+lostAndFoundData.time"> </span>
											<span v-if="lostAndFoundData.userName" style="color:skyblue" v-text="'点击评论'"></span>
										</div>
									</li>

								</ul>
							</div>
							<div class="aui-coupon-all">没有更多内容</div>
						</div>
						<div class="tab-panel-item">
							<div class="tab-item" id="lostAndFound3">
								<ul>
									<li class="aui-news-item b-line" v-for="lostAndFoundData in lostAndFoundDatas" v-if="lostAndFoundData.state">
										<h3 v-text="lostAndFoundData.title"> </h3>
										<div class="aui-news-item-img">
											<div v-for="imageP in lostAndFoundData.lostAndFoundPics"><img v-bind:src="imageRootUrl+imageP.smallImgs"
												  style="width:30%;height:90px" alt=""></div>
										</div>
										<div class="aui-news-item-comment">
											<span v-text="lostAndFoundData.userName"></span>
											<span v-text="'发表于'+lostAndFoundData.time"> </span>
										</div>
									</li>
								</ul>
							</div>
							<div class="aui-coupon-all">没有更多内容</div>
						</div>
					</div>
				</div>
			</section>
			<section style="position: fixed;right: 20px;bottom: 50px;border-radius: 49%;">
				<img id="lostAndFindApply" src="images/add1.png">
			</section>

		</section>
		<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init({
				pullRefresh: {
					container: "#lostAndFindSection", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
					down: {
						style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
						color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
						height: '50px', //可选,默认50px.下拉刷新控件的高度,
						range: '100px', //可选 默认100px,控件可下拉拖拽的范围
						offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
						auto: false, //可选,默认false.首次加载自动上拉刷新一次
						callback: pullupRefreshsss //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}
			});

			function pullupRefreshsss() {
				mui('#lostAndFindSection').pullRefresh().endPulldown();
				// mui('#main').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
				plus.webview.currentWebview().reload();
			}

			document.getElementById('lostAndFindApply').addEventListener('tap', function() {
				mui.openWindow({
					url: 'lostAndFindApply/lostAndFindApply.html',
					id: 'lostAndFindApply.html'
				})
			})

			mui.init();
			mui.plusReady(function() {
				var idShow = false;
				plus.nativeUI.showWaiting();
				mui.ajax(apiUrl.productURL+apiUrl.appLostAndFoundSearch, {
					data: {
						userId: localStorage.getItem("userId")
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 100000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						console.log(JSON.stringify(data))
						plus.nativeUI.closeWaiting();
						if (data.data != "") {
							idShow = true;
							var app1 = new Vue({
								el: '#lostAndFound1',
								data: {
									lostAndFoundDatas: data.data,
									idShow: idShow,
									userId: localStorage.getItem("userId"),
									imageRootUrl: apiUrl.rootProductUrl
								},
								methods: {
									lostAndFindApply: function() {
										mui.openWindow({
											url: "lostAndFindApply/lostAndFindApply.html",
											id: "lostAndFindApply.html"
										});
									},
									lostAndFindDetail: function(e) {
										mui.openWindow({
											url: 'lostAndFindDetail/lostAndFindDetail.html',
											id: 'lostAndFindDetail.html',
											extras: {
												userId: localStorage.getItem("userId"),
												lostAndFindData: e
											}
										});
									}
								}
							})

							var app2 = new Vue({
								el: '#lostAndFound2',
								data: {
									lostAndFoundDatas: data.data,
									idShow: idShow,
									userId: localStorage.getItem("userId")
									// isMyself:isMyself
								},
								methods: {
									lostAndFindApply: function() {
										mui.openWindow({
											url: "lostAndFindApply/lostAndFindApply.html",
											id: "lostAndFindApply.html"
										});
									},
									lostAndFindDetail: function(e) {
										mui.openWindow({
											url: 'lostAndFindDetail/lostAndFindDetail.html',
											id: 'lostAndFindDetail.html',
											extras: {
												userId: localStorage.getItem("userId"),
												lostAndFindData: e
											}
										});
									}
								}
							})

							var app3 = new Vue({
								el: '#lostAndFound3',
								data: {
									lostAndFoundDatas: data.data,
									idShow: idShow,
									userId: localStorage.getItem("userId")
								},
								methods: {
									lostAndFindDetail: function(e) {
										mui.openWindow({
											url: 'lostAndFindDetail/lostAndFindDetail.html',
											id: 'lostAndFindDetail.html',
											extras: {
												userId: localStorage.getItem("userId"),
												lostAndFindData: e
											}
										});
									}
								}
							})
						}

					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
					}
				});
			})
		</script>
	</body>
</html>
