<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	<title></title>
	<link href="../../css/mui.css" rel="stylesheet"/>
	<link href="css/txl.css" rel="stylesheet"/>
		<style>
		.mui-table h4,.mui-table h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
			margin-top: 0;
		}
		.mui-table h4{
			line-height: 21px;
			font-weight: 500;
		}
	
		.mui-table .oa-icon{
			position: absolute;
			right:0;
			bottom: 0;
		}
		.mui-table .oa-icon-star-filled{
			color:#f14e41;
		}
		.mui-bar-nav ~ .mui-content{
			padding-top: 25px;
		}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></span>
		<h1 class="mui-title">学院要闻</h1>
	</header>
	<!--下拉刷新容器-->
	<div class="mui-content">
		
	
    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
        <!--数据列表-->
			<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" id="news">
				<li class="mui-table-view-cell" v-for="item in list">
					<div class="mui-table" :id="item.schoolNewId">
						<div class="mui-table-cell mui-col-xs-10">
							<h4 class="mui-ellipsis" v-text="item.title"></h4>
							<h5 v-text="item.user"></h5>
						</div>
						<div class="mui-table-cell mui-col-xs-6 mui-text-right">
							<span class="mui-h5" v-text="item.time"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
    </div>
	</div>
	<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		var app1 = new Vue({
			el: '#news',
			data: {
				list: [],
				index: 1
			}
		})
		mui.init({
			pullRefresh : {
				container:'#refreshContainer',//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
				up : {
					height:50,//可选.默认50.触发上拉加载拖动距离
					auto:true,//可选,默认false.自动上拉加载一次
					contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
					contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
					callback :function(){
						window.setTimeout(function(){
							addNews(app1.index,false);
						},500);
					} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
				},
				down : {
					style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
					color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
					height:'50px',//可选,默认50px.下拉刷新控件的高度,
					range:'100px', //可选 默认100px,控件可下拉拖拽的范围
					offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
					auto: false,//可选,默认false.首次加载自动上拉刷新一次
					callback :function(){
						window.setTimeout(function(){
							addNews(1,true);
						},500);
					} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
				}
			}
		});
		mui(".mui-table-view").on("tap",".mui-table-view-cell",function(){
			var id = $(this).find(".mui-table").attr("id");
			mui.openWindow({
				url:"newsDetail.html",
				id:"newsDetail.html",
				extras:{
					newsId: id
				}
			})
		})
		
		function addNews(index,refresh){
			mui.ajax(apiUrl.productURL+apiUrl.appSchoolNewsListSearch,{
				data:{
					userId:localStorage.getItem("userId"),
					pageNo: index
				},
				dataType: 'json', //服务器返回json格式数据
				type: 'post', //HTTP请求类型
				timeout: 100000, //超时时间设置为10秒；
				headers: {
					'Content-Type': 'application/json'
				},
				success: function(data) {
					if(refresh){
						app1.list = data.data;
						app1.index = 1;
						app1.index += 1;
						mui('#refreshContainer').pullRefresh().endPulldown();
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
					}else{
						if (data.data != "" && data.data.length > 0) {
							if(app1.index != "1"){
								$.each(data.data,function(i,item){
									var _html = '<li class="mui-table-view-cell"><div class="mui-table" id="' + item.schoolNewId
										+ '"><div class="mui-table-cell mui-col-xs-10"><h4 class="mui-ellipsis">' + item.title
										+ '</h4><h5>' + item.user + '</h5></div><div class="mui-table-cell mui-col-xs-6 mui-text-right"><span class="mui-h5 mui-ellipsis">'
										+ item.time +'</span></div></div></li>';
									$('#news').append(_html);
								})
							}else{
								app1.list = data.data;
							}
							app1.index += 1;
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
						}else{
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
						}
					}
				},
				error: function(xhr, type, errorThrown) {
					//异常处理；
					console.log(type);
				}
			});
		}
	</script>
</body>
</html>
