<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="css/question.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left mui-arrowadd" style="color: #fff;"></span>
			<h1 class="mui-title">问卷填写</h1>
		</header>
		<div class="mui-content mui-content-bgcolor" id="vmode">
			<div class="questionnaire2">
				<div id="questionnaire2-box">
					<div class="questionitem" v-for="(item,index) in questionitems">
						<div class="questionbox">
							<div class="questionnaire2-tit">
								<p v-text="index+1+'/'+questionitems.length"></p>
								<p v-text="item.question"></p>
							</div>
							<div class="questionnaire2-con">
								<dl class="mui-input-group" :data-quesId='item.questionId' :data-type='item.questionCode'>
									<!-- 判断是选项类型 -->
									<dd v-if="item.options.length != 0" class="mui-input-row mui-radio mui-left" v-for="(items,i) in item.options"
									 :key='i'>
										<div class="mui-checkbox mui-left">
											<input class="radio" type="radio" :name="item.question" :value="items.id" v-if="item.questionCode==='DX'"
											 @click="choosen(items,item.questionId,item.questionCode)" />
											 <label class="advice" v-text="items.opValue"></label>
											<input class="checkbox" type="checkbox" :name="item.question" :value="items.id" v-if="item.questionCode==='DXS'"
											 @click="choosen(items,item.questionId,item.questionCode)" />
											
										</div>
									</dd>
									<dd class="mui-input-row" v-if="item.options.length == 0">
										<div class="mui-input-row mui-radio mui-left" style="height: 100px;" >
											<input type="text" id="1" name="text"  style="height: 80px;" value="" placeholder="请填写" @keyup="choosen(this,item.questionId,item.questionCode)" />
										</div>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="questionnaire2-fot">
				<!-- <a @click="olast">上一题</a><a @click="oNext" v-if='showNext'>下一题</a> -->
				<input type="button" id="questionbtn" @click='subquestion' value="提交" />
			</div>
		</div>
		<script src="../../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script src="index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>
