<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="css/message.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="themes/css/core.css">	
	    <link rel="stylesheet" type="text/css" href="themes/css/home.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.css"/>
		<style type="text/css">
			.aui-coupon-all {
			    width: 100%;
			    text-align: center;
			    font-size: 0.9rem;
			    color: #888;
			}
		</style>
    </head>
    <body style="background: #fff;">
    	<header class="mui-bar mui-bar-nav">
    		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #ffffff;"></a>
    		<h1 class="mui-title">图书馆</h1>
    	</header>
		<div class="mui-content">
			
		
    	<section class="aui-myOrder-content">
			
		<div class="m-tab demo-small-pitch" data-ydui-tab>
			<div class="aui-myOrder-fix">
				<ul class="tab-nav">
					<li class="tab-nav-item tab-active"><a href="javascript:;">借阅记录</a></li>
					<li id="jyjlBTN" class="tab-nav-item"><a href="javascript:;">违纪情况</a></li>										
				</ul>
			</div>			
			<div class="tab-panel" >
		   <div class="tab-panel-item tab-active" >
            <section class="aui-flexView" > 
					
       <div class="container" id="jyjl">	
		<div class="cardexplain">			 
			<div class="history">
				<div class="history-date" v-if="isShow0">
					<ul >
						<a><h2 class="first first1" ></h2></a>												
						<li class="green bounceInDown" v-for="jyjlData in jyjlDatas" >
							<h3 style="color:#38aae1;margin-left: 10px;display: flex;">
								<span style="color:#38aae1;" v-text="jyjlData.jyrq"></span>
								<span style="color:#38aae1;margin: 0px 0 0 10px;" v-text="jyjlData.sfgh"></span>
								<div class="clr"></div>
							</h3>
							<dl style="margin-left: 10px;">
								<dt class="hfinfo" date="17369" v-text="'书籍代码：'+jyjlData.bookcode"></dt>
								<dt style="font-size: 12px;" v-text="'书籍名称：'+jyjlData.bookName">
								</dt>
								<dt style="font-size: 12px;" v-text="'应还日期：'+jyjlData.yhrq">
								</dt>
							</dl>							
						</li>			
					</ul>
				</div>
			</div>
		</div>
		<div id="proJect" class="aui-coupon-all" v-if="!isShow0">
				   借阅记录暂无数据
		</div>
	</div>
    </section> 
					
				</div>
				<div class="tab-panel-item">
					<section class="aui-flexView"> 
        	  
       <div class="container" id="wjqk">	  	
		<div class="cardexplain">			 
			<div class="history">
				<div class="history-date">
					<ul v-if="isShow">
						<a><h2 class="first first1" ></h2></a>
						<li class="green bounceInDown" v-for="wjqkData in wjqkDatas" >
							<h3 style="color:#38aae1;margin-left: 10px;display: flex;">
								<span style="color:38aae1;" v-text="wjqkData.jlrq"></span>
								<span style="color:red;margin: 0px 0 0 10px;" v-text="wjqkData.bookname"></span>
								<div class="clr"></div>
							</h3>
							<dl style="margin-left: 10px;">
								<dt class="hfinfo" date="17369" v-text="'题名：'+wjqkData.timing"></dt>
								<dt style="font-size: 12px;" v-text="'应罚金额：'+wjqkData.yfje">
								</dt>
								<dt style="font-size: 12px;" v-text="'实罚金额：'+wjqkData.sjfkje">
								</dt>
							</dl>							
						</li>			
						</ul>
				</div>
			</div>
		</div>
		<div id="proJect1" class="aui-coupon-all"  v-if="!isShow">
				   违纪情况暂无数据
		</div>
	</div>
    </section> 
   </div>				
	</section>
	</div>
	 <script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="themes/js/jquery.min.js"></script>
	<script type="text/javascript" src="themes/js/aui.js"></script>
	<script src="../../js/h.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
        $(function () {
            //绑定滚动条事件 
            //绑定滚动条事件
            $(window).bind("scroll", function () {
                var sTop = $(window).scrollTop();
                var sTop = parseInt(sTop);
                if (sTop >= 40) {
                    if (!$("#scrollBg").is(":visible")) {
                        try {
                            $("#scrollBg").slideDown();
                        } catch (e) {
                            $("#scrollBg").show();
                        }
                    }
                }
                else {
                    if ($("#scrollBg").is(":visible")) {
                        try {
                            $("#scrollBg").slideUp();
                        } catch (e) {
                            $("#scrollBg").hide();
                        }
                    }
                }
            });
        })
	</script>
	<script type="text/javascript">
		mui.init();
			mui.plusReady(function () {
				var app = new Vue({
					el: '#jyjl',
					data: {
						jyjlDatas: [],
						isShow0: true
					},
					mounted:function(){
						var _this = this;
						myCommonJs.productAjax(
						apiUrl.productURL+apiUrl.appBookSearchjy,
						{userId:localStorage.getItem("userId")},
						function(res){
							_this.jyjlDatas = res.data;
							if(res.data==""){
								$(document).ready(function(){
									$("#proJect").load("../../building/demo.html");
								})
								_this.isShow0 = false;
							}
							},
						function(xhr, type, errorThrown){console.log(type);$(document).ready(function(){
										$("#proJect").load("../../building/demo.html");
									})}
						)
					}
				})
// 				//借阅记录
				$("#jyjlBTN").click(function(){
					//违纪情况
					var app1 = new Vue({
						el: '#wjqk',
						data: {
							wjqkDatas: [],
							isShow: true
						},
						mounted:function(){
							var _this = this;
							myCommonJs.productAjax(
							apiUrl.productURL+apiUrl.appBookSearchwj,
							{userId:localStorage.getItem("userId")},
							function(res){
								_this.jyjlDatas = res.data;
								console.log(JSON.stringify(res.data))
								if(res.data==""){
									$(document).ready(function(){
										$("#proJect1").load("../../building/demo.html");
									})
									
									_this.isShow = false;
								}
								},
							function(xhr, type, errorThrown){console.log(type);$("#proJect1").load("../../../building/demo.html");}
							)
							
						},
						methods: {
						}
					})
				})
				
			})
	</script>
	
	
    </body>
</html>
