<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>学校概况</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<script src="../xiaoLi/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="../xiaoLi/js/readmore.js" type="text/javascript"></script>
		<style type="text/css">
			.imgadiv{
				width: 100%;
				text-align: center;
			}
			.imgadiv img{
				width: 90%;
				height: auto;
				max-height: 400px;
				margin: 5px;
			}
		</style>
	</head>
	<body>
		<div  id="allInfo">
		<header class="mui-bar mui-bar-nav"> 
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></span>
			<h1 class="mui-title" v-text="list.title"></h1>
		</header> 
		<div class="mui-content" >
			<div class="container">
				<div class="article_content"  >
					<div>
						<div class="imgadiv" v-for="tp in list.images" @click="preview(list.images)">
							<img :src="rootProductUrl+tp.img" />
						</div>
						<p>
							<article>
								<p v-text="list.contents"></p> 
							</article>
						</p>
					</div>
				</div>

			</div>
			<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
			<script type="text/javascript">
				var app1 = new Vue({
					el: '#allInfo',
					data: {
						list:{},
						rootProductUrl: apiUrl.rootProductUrl
					},
					methods: {
						preview:function(e){
							console.log(JSON.stringify(e))
							let imageUrlarr = new Array();
							for (let i = 0; i < e.length; i++) {
								console.log(e[i].img);
								imageUrlarr.push(apiUrl.rootProductUrl + e[i].img)
							}
							console.log(imageUrlarr)
							plus.nativeUI.previewImage(imageUrlarr, {
								background: '#000',
								current: 0,
								indicator: 'number',
								loop: "true"
							});
						}
					}
				})
				mui.init();
				mui.plusReady(function() {
					var _this = plus.webview.currentWebview();
					plus.nativeUI.showWaiting();
					mui.ajax(apiUrl.productURL + apiUrl.appFoundInfoDetail, {
						data: {
							userId: localStorage.getItem("userId"),
							fiId: _this.userCode
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 100000, //超时时间设置为10秒；
						headers: {
							'Content-Type': 'application/json'
						},
						success: function(data) {
							console.log(JSON.stringify(data))
							if (data.data != "") {
								app1.list = data.data[0];
							}
							plus.nativeUI.closeWaiting();
							
						},
						error: function(xhr, type, errorThrown) {
							//异常处理；
							console.log(type);
							plus.nativeUI.closeWaiting();
						}
					});
				})
			</script>
		</div>
		</div>
	</body>
