<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<title></title>
		<link href="../../css/mui.css" rel="stylesheet"/>
		<link href="../lostAndFind/css/style.css" rel="stylesheet" type="text/css" />
		<!-- <link href="css/txl.css" rel="stylesheet"/> -->
		<style type="text/css">
			.aui-coupon-all {
			    width: 100%;
				margin-top: 50px;
			    text-align: center;
			    font-size: 0.9rem;
			    color: #888;
			}
		</style>
	</head>
	<body style="background-color:#fff;">
		<header class="mui-bar mui-bar-nav">
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></span>
			<h1 class="mui-title">发现</h1>
		</header>
		<div class="mui-content">
			<div class="tab-item">
				<ul id="allInfo">
					<li class="aui-news-item b-line" v-for="item in list" @click="gotoDteil(item.fiId)">
						<h3 v-text="item.title"></h3>
						<div class="aui-news-item-img" v-if="item.fiId">
							<div v-for="tp in item.images"><img v-bind:src="imageRootUrl+tp.img"
								  style="width:30%;height:90px" alt=""></div>
						</div>
						<div class="aui-news-item-comment" v-if="item.fiId">
							<span v-if="item.contents" v-text="item.contents"></span>
							<span v-if="item.pushDate" v-text="'发表于'+item.pushDate"> </span>
						</div>
					</li>
				</ul>
			</div>
			<div class="aui-coupon-all">没有更多内容</div>
		</div>
		<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			var app1 = new Vue({
				el: '#allInfo',
				data: {
					list: [],
					imageUrlPro:apiUrl.imageUrlPro,
					imageRootUrl:apiUrl.rootProductUrl
				},
				methods: {
					gotoDteil:function(e){
						mui.openWindow({
							url:'detail.html',
							id:'detail.html',
							extras:{
								userCode:e
							}
						})
					}
				}
			})
			mui.init();
			mui.plusReady(function() {
				plus.nativeUI.showWaiting();
				mui.ajax(apiUrl.productURL+apiUrl.appFoundInfoSearch, {
					data:{
						userId:localStorage.getItem("userId")
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 100000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						console.log(JSON.stringify(data))
						if (data.data != "") {
							app1.list = data.data;
						}
						plus.nativeUI.closeWaiting();
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
						plus.nativeUI.closeWaiting();
					}
				});
			})
		</script>
	</body>
</html>
