<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<title>详情信息</title>
		<link href="../../css/mui.css" rel="stylesheet"/>
		<link href="css/detail.css" rel="stylesheet"/>
	</head>
	<body style="background: #f4f5f6;">
		<header class="mui-bar mui-bar-nav">
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></span>
			<h1 class="mui-title">详情信息</h1>
		</header>
		<div class="mui-content" style="background: #f4f5f6;" >
			<div id='list' class="mui-indexed-list" style="background: #f4f5f6;">
				<div class="mui-indexed-list-alert"></div>
				<div class="mui-indexed-list-inner" >
					<ul class="mui-table-view" style="background: #f4f5f6;">
						<li class="mui-table-view-cell mui-card" id="detailInfo">
							<div class="mui-collapse-content" v-for="item in list">
								<div class="mui-input-row">
									<label class="title">姓名：</label>
									<label class="info" v-text="item.name"></label>
								</div>
								<div class="mui-input-row">
									<label class="title">工号：</label>
									<label class="info" v-text="item.userCode"></label>
								</div>
								<div class="mui-input-row mui-plus-visible">
									<label class="title">电话：</label>
									<label class="info" v-text="item.mobilePhone"></label>
								</div>
								<div class="mui-input-row mui-plus-visible">
									<label class="title">移动电话：</label>
									<label class="info" v-text="item.phone" @click="phoneCall(item.phone)" ></label>
								</div>
								<div class="mui-input-row mui-plus-visible">
									<label class="title">部门名称：</label>
									<label class="info" v-text="item.deptname" @click="phoneCall(item.deptname)"></label>
								</div>
								<div class="mui-input-row mui-plus-visible">
									<label class="title">部门电话：</label> 
									<label class="info" v-text="item.deptphone" @click="phoneCall(item.deptphone)"></label>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			
			mui.init();
			mui.plusReady(function () {
			    var _this = plus.webview.currentWebview();
				var app1 = new Vue({
					el: '#detailInfo',
					data:{
						list:[]
					},methods:{
						phoneCall:function(e){
							if(e){
								plus.device.dial(e)
							}else{
								mui.toast("无号码");
							}
						}
					}
				})
				
				mui.plusReady(function() {
					plus.nativeUI.showWaiting();
					mui.ajax(apiUrl.productURL+apiUrl.appBookSearchOne, {
						data:{
							userCode:_this.userCode
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 100000, //超时时间设置为10秒；
						headers: {
							'Content-Type': 'application/json'
						},
						success: function(data) {
							if (data.data != "") {
								app1.list = data.data
							}
							plus.nativeUI.closeWaiting();
						},
						error: function(xhr, type, errorThrown) {
							//异常处理；
							console.log(type);
						}
					});
				})
			})
		</script>
	</body>
</html>
