<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<title></title>
		<link href="../../css/mui.css" rel="stylesheet"/>
		<link href="css/txl.css" rel="stylesheet"/>
		<!-- <link href="css/mui.indexedlist.css" rel="stylesheet" /> -->
		<style type="text/css">
			.searchDiv{
				width: 90%;
				padding-top:10px;
				border-radius: 5%;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></span>
			<h1 class="mui-title">通讯录</h1>
		</header>
		<div class="mui-content">
			<div id='list' class="mui-indexed-list searchDiv">
				<div class="mui-indexed-list-search mui-input-row mui-search">
					<input type="search" class="mui-input-clear mui-indexed-list-search-input" onkeyup="search(this)" placeholder="搜索">
				</div>
				<div class="mui-indexed-list-inner">
					<ul class="mui-table-view aui-palace" id="allInfo">
						<li class="mui-table-view-cell" v-for="item in list">
							<a :id="item.userCode" href="javascript:;" class="mui-navigate-right mui-detail">
								<div class="mui-slider-cell">
									<div class="oa-contact-cell mui-table">
										<div class="oa-contact-avatar mui-table-cell">
											<img v-bind:src="imageUrlPro+item.userCode+'.jpg'" onerror="javascript:this.src='../newMine/images/user.png';" width="60%"/>
										</div>
										<div class="oa-contact-content mui-table-cell">
											<div class="mui-clearfix">
												<h4 class="oa-contact-name" v-text="item.name"></h4>
												<!-- <span class="oa-contact-position mui-h6" v-text="item.deptname"></span> -->
											</div>
											<!-- <p class="oa-contact-email mui-h6" v-text="item.mobilePhone"></p> -->
										</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script src="js/mui.indexedlist.js" type="text/javascript" charset="utf-8"></script> -->
		<!-- <script src="js/txl.js" type="text/javascript" charset="utf-8"></script> -->
		<script type="text/javascript" charset="utf-8">
			var app1 = new Vue({
				el: '#allInfo',
				data: { 
					list: [],
					imageUrlPro:apiUrl.imageUrlPro
				}
			})
			mui.init();
			mui.plusReady(function() {
				plus.nativeUI.showWaiting();
				mui.ajax(apiUrl.productURL+apiUrl.appBookSearch, {
					data:{
						userId:localStorage.getItem("userId")
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 100000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						console.log(JSON.stringify(data))
						if (data.data != "") {
							app1.list = data.data
						}
						plus.nativeUI.closeWaiting();
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
					}
				});
			})
			function search(that){
				mui.ajax(apiUrl.productURL+apiUrl.appBookSearchAll, {
					data:{
						whereCondition:that.value
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 100000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						console.log(JSON.stringify(data));
						if (data.data != "") {
							app1.list = data.data
						}
						plus.nativeUI.closeWaiting();
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
					}
				});
			}
			mui(".aui-palace").on("tap",".mui-detail",function(){
				console.log(this.id)
				mui.openWindow({
					url:'detail.html',
					id:'detail.html',
					extras:{
						userCode:this.id
					}
				})
			})
		</script>
	</body>
</html>
