<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../../css/mui.css" rel="stylesheet"/>
	<style type="text/css">
		.aui-coupon-all {
		    width: 100%;
		    text-align: center;
		    font-size: 0.9rem;
		    color: #888;
			margin-top:25px ;
		}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<span class="mui-icon mui-icon-arrowleft mui-action-back" style="color: #ffffff;"></span>
		<h1 class="mui-title">报修</h1>
		<!-- <a id="repairSheet" class="mui-icon mui-icon-more-filled mui-pull-right" style="font-size: 35px; color: #FFFFFF;"></a> -->
	</header>
	<div class="mui-content" id="repairContent"  style="margin-top: 30px;">
		<div class="mui-segmented-control">
			<a id="item0-a" class="mui-control-item mui-active" href="#item0">新建报修</a>
			<a id="item1-a" class="mui-control-item" href="#item1">待维修</a>
			<a id="item2-a" class="mui-control-item" href="#item2">已维修</a>
			<a id="item3-a" class="mui-control-item" href="#item3">已取消</a>
		</div>
		<ul id="item0" class="mui-table-view mui-control-content mui-active">
			<li id="newRepair"  class="mui-table-view-cell mui-media" v-on:click="newRepair()"  >
				<a href="javascript:;">
					<div class="mui-media-body" > 
						<span class="mui-badge mui-badge-red">+</span><span style="color: darkgray;">&nbsp;&nbsp;&nbsp;新建报修</span>
					</div>
				</a>
			</li>
		</ul>
		<ul id="item1" class="mui-table-view mui-control-content">
			<li id="test" class="mui-table-view-cell mui-media"  v-for="repairData in repairDatas" v-if="repairData.repairState=='待维修'" v-on:click="optionRepair(repairData)">
				<a href="javascript:;">
					<div class="mui-media-body" >
						<span class="mui-badge mui-badge-red" v-text="repairData.repairState"></span><span style="color: darkgray;" v-text="' '+repairData.repairCode"></span>
						<hr style="color: #f4f5f6;" />
						<span class="mui-ellipsis" v-text="repairData.faultMessages"></span>
						<p class="mui-ellipsis" v-text="repairData.faultType+' '+repairData.repairTime+'|'+ repairData.faultLocatin"></p>
						
					</div>
				</a>
			</li>
			
			<!-- <div id ="test1"  style="width: 100%;height: 20px; background-color: #f4f5f6;display: none;">
			</div>
			<div style="width: 100%;height: 20px; background-color: #f4f5f6;">
			</div>
			<li class="mui-table-view-cell mui-media">
				<a href="javascript:;">
					<div class="mui-media-body">
						<span class="mui-badge mui-badge-green">已分配</span><span style="color: darkgray;">&nbsp;&nbsp;&nbsp;20181216100001</span>
						<hr />
						<span class="mui-ellipsis">空调不制热，开了几个小时还是老样子，需马上维修，谢谢</span>
						<p class="mui-ellipsis">其他 2018-12-16 10:00:00 | 宿舍1号楼202</p>
					</div>
				</a>
			</li> -->
		</ul>
		<ul id="item2" class="mui-table-view mui-control-content">
			<li id="test" class="mui-table-view-cell mui-media"  v-for="repairData in repairDatas" v-if="repairData.repairState==='维修已完成'" v-on:click="optionRepair(repairData)">
				<a href="javascript:;">
					<div class="mui-media-body" >
						<span class="mui-badge mui-badge-red" v-text="repairData.repairState"></span><span style="color: darkgray;" v-text="' '+repairData.repairCode"></span>
						<hr style="color: #f4f5f6;" />
						<span class="mui-ellipsis" v-text="repairData.faultMessages"></span>
						<p class="mui-ellipsis" v-text="repairData.faultType+' '+repairData.repairTime+'|'+ repairData.faultLocatin"></p>
					</div>
				</a>
			</li>
		</ul>
		<ul id="item3" class="mui-table-view mui-control-content">
			<li id="test" class="mui-table-view-cell mui-media"  v-for="repairData in repairDatas" v-if="repairData.repairState==='已取消'" v-on:click="optionRepair(repairData)">
				<a href="javascript:;">
					<div class="mui-media-body" >
						<span class="mui-badge mui-badge-red" v-text="repairData.repairState"></span><span style="color: darkgray;" v-text="' '+repairData.repairCode"></span>
						<hr style="color: #f4f5f6;" />
						<span class="mui-ellipsis"v-text="repairData.faultMessages"></span>
						<p class="mui-ellipsis" v-text="repairData.faultType+' '+repairData.repairTime+'|'+ repairData.faultLocatin"></p>
						
					</div>
				</a>
			</li>
		</ul>
		<div class="aui-coupon-all">没有更多内容</div>
	</div>
	<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.js"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="repairlist.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
			mui.init({
			  pullRefresh : {
				container:"#repairContent",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
				down : {
				  style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
				  color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
				  height:'50px',//可选,默认50px.下拉刷新控件的高度,
				  range:'100px', //可选 默认100px,控件可下拉拖拽的范围
				  offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
				  auto: false,//可选,默认false.首次加载自动上拉刷新一次
				  callback :pullupRefreshsss //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
				}
			  }
			});
		
		function pullupRefreshsss() {
				mui('#repairContent').pullRefresh().endPulldown();
				  // mui('#main').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
				  plus.webview.currentWebview().reload();
				}
	</script>
</body>
</html>