.mui-table-view{
	position: unset;
}
.mui-table-view-cell{
	border-radius: 5px;
    border: white solid 1px;
    /* margin: 0px 20px; */
}
.mui-input-row label.title{
	width: 40%;
}
.mui-input-row label.title ~ label.info{
	width: 60%;
}