<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>评论</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/tab.js"></script>
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>

		<section class="aui-flexView">
			<header class="mui-bar mui-bar-nav">
				<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #fff;"></span>
				<h1 class="mui-title">评论</h1>
			</header>
			<section class="aui-scrollView mui-content">
				<div class="aui-tab" data-ydui-tab>
					<div class="tab-panel">
						<div class="tab-panel-item tab-active">
							<div class="tab-item" id="lostAndFoundDetail">
								<ul>
									<li class="aui-news-item b-line">
										<h3><b v-text="lostAndFoundData.title"></b></h3>
										<div class="aui-news-item-img">
											<div v-for="imageP in lostAndFoundData.lostAndFoundPics"><img v-bind:src="imageRootUrl+imageP.smallImgs"
												 style="width:30%;height:90px" alt="" @click="preview(lostAndFoundData.lostAndFoundPics)"></div>
										</div>
										<h3 v-text="lostAndFoundData.contects"></h3>
										<div class="aui-news-item-comment">
											<span v-text="lostAndFoundData.userName"></span>
											<span v-text="lostAndFoundData.time"></span>
											<span id="commentAction" style="color:skyblue" v-on:click="commentAction()" v-if="lostAndFoundData.userName"
											 v-text="'点击评论'"></span>
										</div>
										<div class="aui-news-item-comment">
											<ul class="mui-table-view">
												<li class="mui-table-view-cell" v-for="lafP in lostAndFoundData.lostAndFoundP" style="margin-left: -10px;">
													<div class="aui-news-item-comment" style="margin-left: -10px;">
														<span v-text="lafP.mpCode"></span>
														<span v-text="'发表于'+lafP.time"></span>
														<span id="recallAction" style="color:skyblue" v-on:click="recallAction(lafP)" v-if="lafP.mpCode" v-text="'回复'"></span>
													</div>
													<div class="aui-news-item-comment">
														<span v-text="lafP.contects"></span>
													</div>
													<div v-for="ry in lafP.replayArry">
														<div class="aui-news-item-comment" style="margin-left:10px;">

															<span v-text="ry.mpCode"></span>
															<span v-text="'发表于'+ry.time"></span>

														</div>
														<div class="aui-news-item-comment" style="margin-left:10px;">
															<span v-text="ry.contects"></span>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</li>
								</ul>
								<div class="aui-coupon-all"><button id="cancelBtn" type="button" v-cloak class="mui-btn mui-btn-red mui-btn-block"
									 v-if="lostAndFoundData.userName==userName" @click="cancelBtn()">撤销</button></div>
							</div>



						</div>
					</div>
				</div>
			</section>

		</section>
		<script src="../../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				console.log(localStorage.getItem("userName"));

				var _thisData = plus.webview.currentWebview();
				var comID = '';
				var app1 = new Vue({
					el: '#lostAndFoundDetail',
					data: {
						lostAndFoundData: _thisData.lostAndFindData,
						userId: localStorage.getItem("userId"),
						userName: localStorage.getItem("userName"),
						imageRootUrl: apiUrl.rootProductUrl
					},
					methods: {
						commentAction: function() {
							var btnArray = ['取消', '确定'];
							mui.prompt('请输入您的评论：', '', '评论', btnArray, function(e) {
								if (e.index == 1) {
									console.log('谢谢你的评论：' + e.value);
									infoText = e.value;
									plus.nativeUI.showWaiting();
									mui.ajax(apiUrl.productURL+apiUrl.appComments, {
										data: {
											userId: localStorage.getItem("userId"),
											lostAndFoundId: _thisData.lostAndFindData.lostAndFoundId,
											contects: e.value
										},
										dataType: 'json', //服务器返回json格式数据
										type: 'post', //HTTP请求类型
										timeout: 100000, //超时时间设置为10秒；
										headers: {
											'Content-Type': 'application/json'
										},
										success: function(data) {
											plus.webview.getWebviewById('lostAndFind.html').reload();
											// plus.webview.currentWebview().reload();
											plus.nativeUI.closeWaiting();
											mui.back();
											console.log(JSON.stringify(data.data));
											localStorage.setItem("commentId", data.data.commentId);
										},
										error: function(xhr, type, errorThrown) {
											//异常处理；
											console.log(type);
										}
									});

								} else {
									console.log('你点了取消按钮');
								}
							})
						},
						recallAction: function(layt) {
							var btnArray = ['取消', '确定'];
							mui.prompt('请输入您的评论：', '', '评论', btnArray, function(e) {
								if (e.index == 1) {
									infoText = e.value;
									plus.nativeUI.showWaiting();
									mui.ajax(apiUrl.productURL+apiUrl.appReplays, {
										data: {
											userId: localStorage.getItem("userId"),
											lostAndFoundId: _thisData.lostAndFindData.lostAndFoundId,
											contects: e.value,
											commentId: layt.commentId
										},
										dataType: 'json', //服务器返回json格式数据
										type: 'post', //HTTP请求类型
										timeout: 100000, //超时时间设置为10秒；
										headers: {
											'Content-Type': 'application/json'
										},
										success: function(data) {
											plus.webview.getWebviewById('lostAndFind.html').reload();
											// plus.webview.currentWebview().reload();
											plus.nativeUI.closeWaiting();
											mui.back();
											mui.toast(data.msg);
										},
										error: function(xhr, type, errorThrown) {
											//异常处理；
											console.log(type);
										}
									});

								} else {}
							})
						},cancelBtn:function(){
							mui.ajax(apiUrl.productURL+apiUrl.appDisplay, {
								data: {
									userId: localStorage.getItem("userId"),
									lostAndFoundId: _thisData.lostAndFindData.lostAndFoundId
								},
								dataType: 'json', //服务器返回json格式数据
								type: 'post', //HTTP请求类型
								timeout: 100000, //超时时间设置为10秒；
								headers: {
									'Content-Type': 'application/json'
								},
								success: function(data) {
									console.log(JSON.stringify(data))
									plus.nativeUI.closeWaiting();
									mui.toast(data.msg);
									// data.code == 10001  true
									if (data.code == 10001) {
										plus.webview.getWebviewById('lostAndFind.html').reload();
										mui.back();
									}
								},
								error: function(xhr, type, errorThrown) {
									//异常处理；
									console.log(type);
								}
							});
						},preview:function(e){
							console.log(JSON.stringify(e))
							let imageUrlarr = new Array();
							for (let i = 0; i < e.length; i++) {
								console.log(e[i].smallImgs);
								imageUrlarr.push(apiUrl.rootProductUrl + e[i].smallImgs)
							}
							console.log(imageUrlarr)
							plus.nativeUI.previewImage(imageUrlarr, {
								background: '#000',
								current: 0,
								indicator: 'number',
								loop: "true"
							});
						}
					}
				})
			})
		</script>
	</body>
</html>
