<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../../../css/mui.css" rel="stylesheet"/>
	<style type="text/css">
		[v-cloak] { display: none; }
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
		<h1 class="mui-title">会议详情</h1>
	</header>
	<div class="mui-content" id="meetDetail" >
				<div> <h4 v-text="meetingID"></h4>
			<div class="mui-card-header mui-card-media" style="height:30vw;background-image:url(../../../static/loac_imgredt_aspx.jpg)"></div>
			<p class="mui-ellipsis" v-text="'会议简介:'"></p>
			<p v-text="meetingContent"></p> 
			<p class="mui-ellipsis" v-text="'参会人员:'"></p>
			<ul class="mui-table-view" >
					<li class="mui-table-view-cell" v-for="meetingpeople in meetingPeople" >
						<div v-text="meetingpeople.mpName+'('+meetingpeople.mpCode+')'" ></div>
							<span class="mui-badge mui-badge-green" v-cloak v-if="meetingpeople.mpState === '已签到'" 		v-text="meetingpeople.mpState" ></span>
							<span class="mui-badge mui-badge-red"  v-cloak v-else-if="meetingpeople.mpState === '未签到'" 	v-text="meetingpeople.mpState" > </span>
							<span class="mui-badge mui-badge-warning" v-cloak v-else-if="meetingpeople.mpState === '请假中'" 	v-text="meetingpeople.mpState" > </span>
							<span class="mui-badge mui-badge-warning" v-cloak v-else-if="meetingpeople.mpState === '不通过'" 	v-text="meetingpeople.mpState" > </span>
					</li>
				</ul>
	</div>
	</div>
	<script src="../../../js/h.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/mui.js"></script>
	<script src="../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		mui.plusReady(function(){
			var thisPage = plus.webview.currentWebview();
			var idShow = true;
			var app = new Vue({
				el: '#meetDetail',
				data: { 
						idShow:idShow,
						meetingID: thisPage.meetingID,
						meetingTitle: thisPage.meetingTitle,
						meetingContent: thisPage.meetingContent,
						meetingState: thisPage.meetingState,
						meetingData: thisPage.meetingData,
						meetingStartTime: thisPage.meetingStartTime,
						meetingEndTime: thisPage.meetingEndTime,
						meetingSignState: thisPage.meetingSignState,
						meetingMessage: thisPage.meetingMessage,
						meetingPeople: thisPage.meetingPeople
				}
			})
			
		})
	</script>
</body>
</html>