<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../../../css/mui.css" rel="stylesheet"/>
	<style type="text/css">
		[v-cloak] { display: none; }
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
		<h1 class="mui-title">会议签到</h1>
	</header>
	<div class="mui-content">
		<div id="proJect"></div>
		<div id="mui-content" v-cloak v-if="isExist">
		<div class="mui-card"  v-for="meetingdata in meetingData" >
			<!-- v-on:click="gotoDetail(top)" -->
			<div class="choosen" >
			<div class="mui-card-header">
			<div v-text="'会议ID：'"></div><label v-text="meetingdata.meetingId"></label>
			</div>
			<div class="mui-card-header mui-card-media" style="height:30vw;background-image:url(../../../static/loac_imgredt_aspx.jpg)"></div>
			<div class="mui-card-content">
				<div class="mui-card-content-inner"> 
				<span class="mui-badge mui-badge-green mui-pull-right" v-text="meetingdata.meetingState"></span>
					<p style="color: #333;" v-text="meetingdata.meetingTitle"></p>
					<p v-text="meetingdata.meetingPlace"></p>
					
					<p v-text="meetingdata.meetingData"></p>
					<p style="color: #333;" v-text="meetingdata.meetingContent"></p>
				</div>
			</div>
			</div>
			<div class="mui-card-footer"> 
				<button  class="mui-btn mui-btn-green" v-on:click="gotoBarcode(meetingdata)" >扫码签到</button>
				<button  class="mui-btn mui-btn-blue " v-cloak id="qjAplly" @click="qjAplly(meetingdata)" v-if="meetingdata.meetingMyslef !=='请假中'||meetingData.meetingMyslef ==''">请假申请</button>
				<button  class="mui-btn mui-btn-blue" v-cloak  v-if="meetingdata.meetingMyslef == '请假中'" >请假中</button> 
				<button  class="mui-btn mui-btn-warning" id="detail" v-on:click="gotoDetail(meetingdata)" >会议详情</button> 
				<!-- <a class="mui-card-link" id="signBtn">查看会议内容</a> -->
			</div>
		</div>
			</div>
		</div>
		
	</div>
	<script src="../../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/h.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/mui.js"></script>
	<script src="../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/api.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
	<script src="meetingSign.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		mui.plusReady(function(){
			// localStorage.removeItem("signLog");
// 			if(localStorage.getItem("signLog")==1){
// 				document.getElementById("signBtn").innerText="已签到";
// 				document.getElementById("signBtn").style.color="#ffffff";
// 			}
		})
	</script>
</body>
</html>