<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../../css/mui.css" rel="stylesheet"/>
	<style>
		body{
			background: #f4f5f6;
		}
		.mui-table h4,.mui-table h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
	        margin-top: 0;
	    }
	    .mui-table h4{
	        line-height: 21px;
	        font-weight: 500;
	    }
	
	    .mui-table .oa-icon{
	        position: absolute;
	        right:0;
	        bottom: 0;
	    }
	    .mui-table .oa-icon-star-filled{
	        color:#f14e41;
	    }
		.aui-coupon-all {
		    width: 100%;
		    text-align: center;
		    font-size: 0.9rem;
		    color: #888;
		}
		.searchDiv{
			width: 90%;
			padding-top:10px;
			border-radius: 5%;
			margin: 0 auto;
		}
	</style>
</head>
<body style="background: #fff;">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
		<h1 class="mui-title">课程查询</h1>
	</header>
	<div class="mui-content" style="background: #fff;">
		<div id='list' class="mui-indexed-list searchDiv">
			<div class="mui-indexed-list-search mui-input-row mui-search ">
				<input id="searchT" type="search" class="mui-input-clear mui-indexed-list-search-input"  placeholder="搜索">
			</div>
		</div>
		<div class="mui-content" style="margin-top: 25px;background: #fff;" id="xuesheng" >
			<ul class="mui-table-view mui-card" style="margin: 10px 10px 10px 10px;">
				<li class="mui-table-view-cell mui-media" v-for="gongziData in gongziDatas" v-show="isShow">
					<a href="javascript:;">
						<div class="mui-media-body">
							<p class="mui-pull-right" style="color: darkgray;" 		v-text="gongziData.userCode"></p><p  v-text="'工号'"></p>
							<p class="mui-pull-right" style="color: darkgray;" 	v-text="gongziData.jxbh"></p><p v-text="'教学班号'"> </p>
							<p class="mui-pull-right" style="color: darkgray;" v-text="gongziData.js"></p><p v-text="'上课教室'"> </p>
							<p class="mui-pull-right" style="color: darkgray;" v-text="gongziData.skzc"></p><p v-text="'上课周次'"> </p>
							<p class="mui-pull-right" style="color: darkgray;" v-text="gongziData.skjc"></p><p v-text="'上课节次'"> </p>
							 <p class="mui-pull-right" style="color: darkgray;"  v-text="gongziData.dsz"></p><p v-text="'单双周'"></p>
							<p class="mui-pull-right" style="color: darkgray;" v-text="gongziData.xn"></p><p v-text="'学年'"> </p>
							<p class="mui-pull-right" style="color: darkgray;" v-text="gongziData.xq"></p><p v-text="'学期'"> </p>
							 <p class="mui-pull-right" style="color: darkgray;" v-text="gongziData.kcdm"></p><p v-text="'课程代码'"></p>
							 <p class="mui-pull-right" style="color: darkgray;" v-text="gongziData.kcmc "></p><p v-text="'上课课程名称'"></p>
							<p class="mui-pull-right" style="color: darkgray;" v-text="gongziData.skbjrs"></p><p v-text="'班级人数'"> </p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="aui-coupon-all">没有更多内容</div>
	</div>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="UTF-8">
		var app = new Vue({
			el: '#xuesheng',
			data: {
				gongziDatas:[],
				isShow: false
			}
		});
	</script>
	<script src="../../js/h.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.js"></script>
	<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
	<script src="search.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		mui.plusReady(function () {
			search('','t'); 
		})
		
		document.getElementById('searchT').addEventListener('keypress',function () {
					console.log(this.value)
			        if(event.keyCode == "13") {
		        document.activeElement.blur();//收起虚拟键盘
				myCommonJs.productAjax(
					apiUrl.productURL + apiUrl.appClassTeacherSearch,
					{
						userId:localStorage.getItem("userId"),
						key:this.value
					},
					function(res){
						app.gongziDatas = res.data;
						if(res.data!=''){
							app.isShow=true
						}
						console.log(JSON.stringify(res))
					},
					function(xhr, type, errorThrown){
						console.log(type)
					}
				)
		        event.preventDefault(); // 阻止默认事件---阻止页面刷新
		    }
			})
		
	</script>
</body>
</html>