<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="css/message.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="themes/css/core.css">	
	    <link rel="stylesheet" type="text/css" href="themes/css/home.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.css"/>
		<style type="text/css">
			.aui-coupon-all {
			    width: 100%;
			    text-align: center;
			    font-size: 0.9rem;
			    color: #888;
			}
		</style>
    </head>
    <body style="background: #fff;">
    	<header class="mui-bar mui-bar-nav">
    		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #ffffff;"></a>
    		<h1 class="mui-title">一卡通</h1>
    	</header>
		<div class="mui-content">
			
		
    	<section class="aui-myOrder-content">
			
		<div class="m-tab demo-small-pitch" data-ydui-tab>
			<div class="aui-myOrder-fix">
				<ul class="tab-nav">
					<li class="tab-nav-item tab-active"><a href="javascript:;">消费记录</a></li>
					<li class="tab-nav-item"><a href="javascript:;">充值记录</a></li>										
				</ul>
			</div>			
			<div class="tab-panel" >
		   <div class="tab-panel-item tab-active">
			
            <section class="aui-flexView"> 
        	  
       <div class="container" id="xfjl">	  	
		<div class="cardexplain">			 
			<div class="history">
				<div class="history-date">
					<ul >
						<a><h2 class="first first1" ></h2></a>												
						<li class="green bounceInDown" v-for="xfjlData in xfjlDatas" >
							<h3 style="color:#38aae1;margin-left: 10px;display: flex;">
								<span style="color:#38aae1;" v-text="xfjlData.jysj"></span>
								<span style="color:#38aae1;margin: 0px 0 0 10px;" v-text="xfjlData.jylx"></span>
								<div class="clr"></div>
							</h3>
							<dl style="margin-left: 10px;">
								<dt class="hfinfo" date="17369" v-text="'一卡通号：'+xfjlData.code"></dt>
								<dt style="font-size: 12px;" v-text="'交易金额：'+xfjlData.czje">
								</dt>
								<dt style="font-size: 12px;" v-text="'卡内余额：'+xfjlData.czhje">
								</dt>
							</dl>							
						</li>			
					</ul>
				</div>
			</div>
		</div>
	</div>
    </section> 
				</div>
				<div class="tab-panel-item">
					<section class="aui-flexView"> 
        	  
       <div class="container" id="czjl">	  	
		<div class="cardexplain">			 
			<div class="history">
				<div class="history-date">
					<ul>
						<a><h2 class="first first1" ></h2></a>
						<li class="green bounceInDown" v-for="czjlData in czjlDatas" >
							<h3 style="color:#38aae1;margin-left: 10px;display: flex;">
								<span style="color:#38aae1;"v-text="czjlData.jysj"></span>
								<span style="color:#38aae1;margin: 0px 0 0 10px;" v-text="czjlData.jylx"></span>
								<div class="clr"></div>
							</h3>
							<dl style="margin-left: 10px;">
								<dt class="hfinfo" date="17369" v-text="'一卡通号：'+czjlData.code"></dt>
								<dt style="font-size: 12px;" v-text="'充值金额：'+czjlData.czje">
								</dt>
								<dt style="font-size: 12px;" v-text="'充值后余额：'+czjlData.czhje">
								</dt>
							</dl>							
						</li>	
						</ul>
				</div>
			</div>
		</div>
	</div>
    </section> 
   </div>				
	</section>
	<div class="aui-coupon-all">没有更多内容</div>
	</div>
     <!-- <footer style="width: 100%;display: flex;position: fixed;bottom: 0;">
     	<div class="one" >
     		短信
     	</div>
     	<div class="one">
     		联系客户
     	</div>
     	<div class="one" style="background: #38aae1;color: #fff;">
     		新增跟进
     	</div>
     </footer> -->  
    <script type="text/javascript" src="themes/js/jquery.min.js"></script>
	<script type="text/javascript" src="themes/js/aui.js"></script>
	<script src="../../js/h.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/api.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
        $(function () {
            //绑定滚动条事件
            //绑定滚动条事件
            $(window).bind("scroll", function () {
                var sTop = $(window).scrollTop();
                var sTop = parseInt(sTop);
                if (sTop >= 40) {
                    if (!$("#scrollBg").is(":visible")) {
                        try {
                            $("#scrollBg").slideDown();
                        } catch (e) {
                            $("#scrollBg").show();
                        }
                    }
                }
                else {
                    if ($("#scrollBg").is(":visible")) {
                        try {
                            $("#scrollBg").slideUp();
                        } catch (e) {
                            $("#scrollBg").hide();
                        }
                    }
                }
            });
        })
	</script>
	<script type="text/javascript">
		mui.init();
			mui.plusReady(function () {
			    var idShow = false;
				//消费记录  
			    mui.ajax(apiUrl.productURL+apiUrl.appOneCardXfSearch, {
			    		data:{
			    			userId:localStorage.getItem("userId")
			    		},
			    	dataType: 'json', //服务器返回json格式数据
			    	type: 'post', //HTTP请求类型
			    	timeout: 10000, //超时时间设置为10秒；
			    	headers: {
			    		'Content-Type': 'application/json'
			    	}, 
			    	success: function(data) {
			    		mui.toast(data.msg);
			    		console.log(JSON.stringify(data) )
			    		if (data.code == 10001) {
			    			idShow = true;
			    			var app = new Vue({
			    				el: '#xfjl',
			    				data: {
			    					xfjlDatas: data.data,
			    					idShow: idShow
			    				}
			    			})
								
			    		}
			    
			    	},
			    	error: function(xhr, type, errorThrown) {
			    		//异常处理；
			    		console.log(type);
			    	}
			    });
				
				//充值记录
				mui.ajax(apiUrl.productURL+apiUrl.appOneCardCzSearch, {
						data:{
							userId:localStorage.getItem("userId")
						},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					headers: {
						'Content-Type': 'application/json'
					}, 
					success: function(data) {
						mui.toast(data.msg);
						console.log(JSON.stringify(data) )
						if (data.code == 10001) {
							idShow = true;
							var app = new Vue({
								el: '#czjl',
								data: {
									czjlDatas: data.data,
									idShow: idShow
								}
							})
								
						}
				
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
					}
				});
			})
	</script>
	
	
    </body>
</html>
