<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>详情</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/tab.js"></script>
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>

		<section class="aui-flexView">
			<header class="aui-navBar aui-navBar-fixed">
			</header>
			<header class="aui-navBar aui-navBar-fixed mui-action-back" style="margin-top:-2px ;">
				<span class="mui-icon mui-icon-arrowleft" style="color: #fff;margin-top:10px"></span>
				<div class="aui-center">
					<span class="aui-center-title" style="color: #ffffff;">详情</span>
				</div>
			</header>
			<section class="aui-scrollView">
				<div class="aui-tab" data-ydui-tab>
					<div class="tab-panel">
						<div class="tab-panel-item tab-active">
							<div class="tab-item" id="lostAndFoundDetail">
								<ul>
									<li class="aui-news-item b-line">
										<h3><b v-text="lostAndFoundData.title"></b></h3>
										<h3 v-text="lostAndFoundData.date"></h3>
										<div class="aui-news-item-img">
											<div v-for="imageP in lostAndFoundData.activitityPics"><img v-bind:src="imageRootUrl+imageP.smallImgs" style="width:30%;height:90px"
												 alt="" @click="preview(lostAndFoundData.activitityPics)"></div>
										</div>
										<h3 v-text="lostAndFoundData.contects"></h3>
										<div class="aui-news-item-comment">
											<span v-text="lostAndFoundData.department"></span>
											<span v-text="lostAndFoundData.user"></span>
											<span v-text="lostAndFoundData.publishDate"></span>
											<span id="commentAction" style="color:skyblue" v-on:click="commentAction()" v-if="lostAndFoundData.userName"
											 v-text="'点击评论'"></span>
										</div>
										<div class="aui-news-item-comment">
											<p v-text="lostAndFoundData.contents"></p>
										</div>
									</li>
								</ul>
								<div class="aui-coupon-all"><button id="cancelBtn" type="button" v-cloak class="mui-btn mui-btn-red mui-btn-block"
									 @click="fabu()" v-if="lostAndFoundData.publishState=='未发布'&&lostAndFoundData.applyState=='审核通过'">发布</button></div>
							</div>



						</div>
					</div>
				</div>
			</section>

		</section>
		<script src="../../../js/h.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/myCommonJs.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				console.log(localStorage.getItem("userName"));

				var _thisData = plus.webview.currentWebview();
				var comID = '';
				var app1 = new Vue({
					el: '#lostAndFoundDetail',
					data: {
						lostAndFoundData: _thisData.lostAndFindData,
						userId: localStorage.getItem("userId"),
						userName: localStorage.getItem("userName"),
						imageRootUrl:apiUrl.rootProductUrl
					},
					methods: {
						fabu: function() {
							myCommonJs.productAjax(apiUrl.productURL + apiUrl.appPublis, {
								userId: localStorage.getItem("userId"),
								activeId: this.lostAndFoundData.activeId
							}, function(res) {
								mui.toast(res.msg);
								plus.webview.getWebviewById("schoolActivity.html").reload();
								mui.back();
							}, function(a, type, b) {
								mui.toast("发布不成功");
								mui.back();
							})
						},preview:function(e){
							console.log(JSON.stringify(e))
							let imageUrlarr = new Array();
							for (let i = 0; i < e.length; i++) {
								console.log(e[i].smallImgs);
								imageUrlarr.push(apiUrl.rootProductUrl + e[i].smallImgs)
							}
							console.log(imageUrlarr)
							plus.nativeUI.previewImage(imageUrlarr, {
								background: '#000',
								current: 0,
								indicator: 'number',
								loop: "true"
							});
						}
					}
				})
			})
		</script>
	</body>
</html>
